<!doctype html>
<html>
    <head>
        {{> templates/header}}    
    </head>
    <body>
        <div class="container">
            <h1 class="huge">Mixfindr</h1>
            <p class="description">Find a mix featuring your favorite artist, or use your last.fm account to find mixes.</p>
        </div>
        {{> templates/search-bar}}
    </body>
</html>