<div class="container">
    <div class="row search">
        <div class="span6">
            <div class="search-field">
                <h3>Last.fm user search:</h1>
                <form id="search-user" class="search-user navbar-search pull-left">
                    <input type="text" class="search-query" placeholder="Last.fm User Name">
                    <button type="submit" class="btn">Search</button>
                </form>
            </div>
        </div>
        <div class="span6">
            <div class="search-field">
                <h3>Artist search:</h1>    
                <form id="search-artist" class="search-artist navbar-search pull-left">
                    <input type="text" class="search-query" placeholder="Artist Name">
                    <button type="submit" class="btn" id="search-artist">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>